@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$border-width: 15px;
$border-color: #0d6efd;
$border-style: solid;

$utilities: map-merge(
  $utilities,
  (
    "border-top": (
      property: border-top,
      class: "border-top",
      values: (
        default: #{$border-width} #{$border-style} #{$border-color}, // Default value
        0: 0 // No border
      )
    )
  )
);

